RewriteEngine On
RewriteBase /FE/absensi/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ index.php?hlm=$1 [L,QSA]

# ErrorDocument 404 /FE/absensi/404
